.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-item {
  width: 50px;
}

span#avatar {
  display: flex;
  justify-content: center;
}

.blankProfileImage {
  height: 128px;
  width: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #7f7f7f;
  background-color: #282828;
  border-radius: 50%;
}

.blankProfileImage svg {
  height: 50%;
  width: 50%;
}

.status {
  position: relative;
  height: 25px;
}

@keyframes slideInAnimation {
  0% {
    opacity: 0;
    top: -24px;
    z-index: -1;
  }
  65% {
    opacity: 0;
    top: -12px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

.slideIn {
  animation: 0.5s ease-in 0s 1 normal forwards running slideInAnimation;
}

@keyframes slideOutAnimation {
  0% {
    opacity: 1;
    top: 0px;
  }
  35% {
    opacity: 0;
    top: -12px;
  }
  100% {
    opacity: 0;
    top: -24px;
    z-index: -1;
  }
}

.slideOut {
  animation: 0.5s ease-in 0.5s 1 normal forwards running slideOutAnimation;
}
