.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page-item {
  width: 50px;
}

span#avatar {
  display: flex;
  justify-content: center;
}

.blankProfileImage {
  height: 128px;
  width: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #7f7f7f;
  background-color: #282828;
  border-radius: 50%;
}

.blankProfileImage svg {
  height: 50%;
  width: 50%;
}
